.find-word {
	h3 {
		margin-top: 0;
	}

	#results {
		margin-top: 30px;
		display: flex;
		gap: 20px;
		flex-direction: column;
		align-items: center;

		#card-words,
		#hebrew {
			width: 100%;
		}

		#card-words,
		#hebrew > div {
			min-width: 300px;
			flex: 1;
			border: 1px solid #ccc;
			border-radius: 20px;
			padding: 20px 0;
			box-sizing: border-box;
		}

		#hebrew {
			display: flex;
			flex: 1;
			flex-wrap: wrap;
			justify-content: center;
			gap: 20px;
		}
	}
}
