a,
.card-word-link,
.hebrew-word,
.number {
	color: #add8e6;
	font-weight: 600;

	&:hover {
		color: white !important;
		cursor: pointer;
	}
}

.card-name-link {
	color: white;
	font-weight: 600;

	&:hover {
		color: #add8e6;
		cursor: pointer;
	}
}

.hebrew-word {
	white-space: nowrap;
}
