.card-word-link,
.hebrew-word,
.number,
.card-name-link {
	&:hover {
		cursor: pointer;
	}
}

.card-word-link,
.hebrew-word,
.number {
	color: rebeccapurple;
}

.card-name-link,
#spread-cards li {
	color: navy;
}

.hebrew-word {
	font-weight: bold;
	white-space: nowrap;
}

.number {
	text-decoration: underline;
}
