table {
	width: 100%;
	max-width: 450px;
	background-color: #eee;
	margin: 20px auto;
	border-collapse: collapse;

	tr {
		display: flex;

		th,
		td {
			border: 1px solid black;
			flex: 1;
		}

		th {
			background-color: #9a9;

			&:nth-child(odd) {
				width: 60px;
			}

			.hebrew-word {
				white-space: initial;
			}
		}
	}
}

.App {
	text-align: center;
	margin-bottom: 50px;

	hr {
		margin: 50px 20px;
	}
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
